{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add new application</h1>

    {% for notice in app.flashes('notice') %}
        <div class="alert alert-dismissible alert-warning">{{ notice }}</div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'placeholder': 'Problem with a tree.'} }) }}
    {{ form_row(form.contents, {'attr': {'placeholder': 'Some description of a problem here.'} }) }}
    {{ form_row(form.city, {'attr': {'placeholder': 'Moscow'} }) }}
    {{ form_row(form.address, {'attr': {'placeholder': 'Krasnaya ploshad\', 7'} }) }}

    <button type="submit" class="btn btn-primary">Apply</button>
    {{ form_end(form) }}
{% endblock %}
